* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background: linear-gradient(135deg, #67696d, #78e2d1);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    padding: 20px;  
}
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.container {
    background-color: #edf4f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;  
    text-align: center;
    align-items: left;
    margin: 0 auto;   
    animation: fadeInZoom 1s ease-out;
}

h1 {
    font-size: 2em;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

.email-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1em;
    color: #34495e;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #3498db;
}

.submit-btn {
    padding: 12px;
    font-size: 1.2em;
    background-color: #4f9cbb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2980b9;
}

.error {
    color: #e74c3c;
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: center;
}

.results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.result-card {
    background:url('images/back.jpg');
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;  
    max-width: 45%; 
}
@media (max-width: 768px) {
    .result-card {
        max-width: 100%; 
    }
}
.result-card h3 {
    color: #108de0;
    margin-bottom: 10px;
}

.result-card p {
    font-size: 1.1em;
    color: #edf1f5;
    margin-bottom: 8px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
    display: flex;
    align-items: center; 
    padding: 0 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    animation: fadeInZoom 1s ease-out;

}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
    justify-content: right;
    margin-right: 10px;
    flex-grow: 1;
}

.navbar ul li {
    margin: 0 10px; 
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
}

.logo {
    max-height: 50px; 
    width: auto; 
    margin-right: 15px;
    margin-left: 20px;
}
.back-btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    align-items: center;
    font-size: 1em;  
    max-width: 100%;  
    white-space: nowrap; 
    word-wrap: break-word; 
}

.back-btn:hover {
    background-color: #2980b9;
}
.back-btn:hover {
    background-color: #2980b9;
}
